{{#each errors}}
    <div class="alert alert-danger">{{text}}</div>
{{else}}

{{/each}}
<h3>Edit categorie</h3>
<div class="card">
    <div class="card-body">
        <form action="/admin/categories/edit    " method="POST">
            <input type="hidden" name="id" value="{{categorie._id}}">
            <label for="name">Name: </label>
                <input class="form-control" type="text" id="name" name="name" placeholder="Name of categorie" value="{{categorie.name}}">
            <label for="slug">Slug: </label>
                <input class="form-control" type="text" id="slug" name="slug" placeholder="Slug of categorie" value="{{categorie.slug}}">
                <br>
            <button type="submit" class="btn btn-success">Edit categorie</button>
        </form>
    </div>
</div>