<div class="jumbotron">
  <h1 class="display-4">nodejs blog</h1>
  <p class="lead">Node.js + Express + MongDB.</p>
  <hr class="my-4">
  <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
  <a class="btn btn-primary btn-lg" href="#" role="button">Sign up</a>
</div>

<hr>

<h2>Recent posts</h2>

{{#each posts}}
<div class="card mb-2">
    <div class="card-body">
        <h3>{{title}}</h3>
        <p>{{description}}</p>
        <a href="/post/{{slug}}"><button class="btn btn-success">See more</button></a>
        <hr>
        <small>Categorie: {{categorie.name}}</small>
        <br>
        <small>Date: {{date}}</small>
    </div>
</div>
{{else}}
    <h5>No one posts!</h5>
{{/each}}